/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

.top-container {
  width: 100%;
  height: 47rem;
  /* background-image: url("images/scenery.png");
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;

}

.dev {
  color: #2d86ac;
}

.scene {
  position: absolute;
  top: 0;
  opacity: 35%;
  width: 100%;
  height: 100%;
}

.nav {
  overflow: hidden;
  position: fixed;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
}

.nav a {
  float: left;
  text-align: center;
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #2d86ac;
}

.intro {
  position: relative;
  font-style: normal;
  font-weight: 400;
  margin: 0%;
  padding-top: 5rem;
}

.middle-container {
  position: relative;
  padding: 2rem;
}

.profile {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.about {
  width: 87%;
  text-align: justify;
  float: right;
  padding-top: 2rem;
}

.education {
  text-align: center;
}

body {
  font-family: Inter;
  /* background: url(images/scenery.png), lightgray 50% / cover no-repeat; */
  background: linear-gradient(133deg, #a2deeb 16.8%, #fff 77.91%);
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
