/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

.top-container {
  position: absolute;
}

.dev {
  color: #2d86ac;
}

.scene {
  position: absolute;
  top: 0%;
  opacity: 35%;
  width: 100%;
  display: block;
}

.nav {
  font-weight: 400;
  list-style: none;
  font-size: 1.5rem;
}

.intro {
  font-style: normal;
  font-weight: 400;
}

.middle-container {
  position: relative;
}

.profile {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.education {
  text-align: center;
}

body {
  font-family: Inter;
  /* background: url(images/scenery.png), lightgray 50% / cover no-repeat; */
  background: linear-gradient(122deg, #a2deeb 0.77%, #fff 62.04%);
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
